  @import url("https://fonts.googleapis.com/css?family=Assistant|Raleway:300&display=swap"); 


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  left: 28px;
  top: 2%;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/*
Sidebar wrapper styles */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
/* General sidebar styles */
.bm-menu {
  background: #ba1f31;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #ba1f31;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.burgerList {
  padding-bottom: 0%;
  padding-left: 5%;
  margin-bottom: 0%;
  list-style-type: none;
}

#root, .outer-container {
  height: 100vh;
  width: 100vw;
}

.outer-container {

}

Header {
  position: fixed;
  width: 100vw;
  height: 9%;
  background-color: #202829;
  border-bottom: solid 10pt #ba1f31;
  z-index: 100;
}

#page-wrap {
  position: relative;
  height: 90%;
  width: 100vw;
  top: 10%;
}

h1 {
  position: relative;
  left: 7%;
  top: 4%;
  color: white;
  font-size: 28pt;
}

.pageBody {
  height: 100%;
  width: 100%;
}

.homepageBg, .homepageWrap {
  width: 100%;
  height: 100%;
}

.homepageWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: #202829;
  border-bottom: solid 10pt #ba1f31;
}

.homepageBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./media/parallax3.jpg');
}

h2, h3, .welcome, .ps {
  color: white;
  text-align: center;
}

h2 {
  margin-bottom: 5%;
  font-size: 25pt;

}

.welcome {
  margin-bottom: 5%;
}

h3 {
  font-size: 18pt;
}

.loggedInAs {
  margin-bottom: 10%;
}

.articlePageWrapper {
  height: 100%;
  width: 100%; 
}

.bgimg-1, .topicsBg, .bgimg-doggo {
  height: 100%;
  width: 100%;
  background-image: url('./media/parallax1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7.5%;
  width: 25%;
  top: 50%;
  left: 50%;
  background-color: #202829;
  border-bottom: solid 5pt #ba1f31;
}

.border {
  color: white;
  letter-spacing: 2pt;
}

.articlePageFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3Box, .sortByWrapper, .listOfTopics, select#sort_by_select, .allTopicsWrapper {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #202829;
}

.h3Border {
  padding-top: 2%;
  padding-bottom: 2%;
}

.listOfTopics {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border-bottom: solid 5pt #ba1f31;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

li.topics, p.topics {
  padding: 1%;
  letter-spacing: 2pt;
  font-size: larger;
}

li.topics:hover, p.topics:hover {
background-color: black;
}

a.topics, a.topics:visited, p.topics {
  color: white;
}

a.topics:hover, a.title:hover, a:hover {
  color: #ba1f31;
}

.cardTop {
  padding: 2%;
}

ul.listOfArticles {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

li.articleCard, .commentCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  margin: 1%;
  border-bottom: solid 5pt #202829;
  background-color: #ba1f31;
  color: white;
}

.commentCard {
  width: 90%;
}

li.articleCard:hover, .commentCard:hover {
  background-color: black;
  transform: scale(1.1);
  transition-duration: 250ms;
}

a {
  color: white;
}

a.title {
  color: white;
  padding-bottom: 1%;
}

.articleTitle {
  padding-bottom: 5%;
  font-size: 14pt;
}

.articleCardVoter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
}

a.bm-item.navItem:hover {
  color: black;
}

h1, h2, h3, span.border {
  font-family: 'Raleway', sans-serif;
}

span.border {
  letter-spacing: 5pt;
}

p, a, label, .userInfo {
  font-family: 'Assistant';
}

.TopicsPage {
  width: 100%;
  height: 100%;
}

.topicsBg {
  width: 100%;
  height: 100%;
}

.caption2 {
  background-color: #202829;
  border-bottom: solid 5pt #ba1f31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 20%;
  width: 50%;
}

h2.topicsTitle {
  margin-bottom: 0cm;
}

.allTopicsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 5pt #ba1f31;
  height: 20%;
}

p.topics {
  justify-self: flex-start;
  align-self: center;
  padding-bottom: 1%;
}

p {
  text-align: center;
}

.UserPage, .ArticlePage {
  width: 100%;
  height: 100%;
}

.userBg, .parallax4 {
  height: 75%;
  width: 100%;
  background-image: url('./media/parallax4.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.parallax4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleBox, .articleBox2, .articleBox3 {
  height: fit-content;
  width: 75%;
  background-color: #202829;
  padding: 2%;
}

.articleBox {
  align-self: flex-start;
  margin-left: 2%;
  border-bottom: #ba1f31 solid 5pt;
}

.articleBox2, .articleBox3 {
  margin-top: 3%;
  color: white;
}


.ArticlePage {
  height: 100%;
  width: 100%;
}


.submitCommentBox {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: #ba1f31 solid 5pt;
  background-color: #202829;
  height: 100px;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;

}

input {
  background-color: #ba1f31;
  border-bottom: #202829 solid 5pt;
  color: white;
  width: 10%;
}

input:hover {
  background-color: black;
}

textarea {
  color: white;
  width: 75%;
  height: 95%;
  background-color: #565958;
  font-size: x-large;
  text-emphasis: center;
}

p.articleBody {
  margin-bottom: 2%;
}

p.articleTopic {
  margin-bottom: 2%;
}

.articleBox3 {
  height: fit-content;
  width: fit-content;
}

h2.articleTitle {
  margin: 0;
  padding: 0;
  letter-spacing: 2pt;
}

.userProfilePic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.caption3 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202829;
  border-bottom: solid 5pt #ba1f31;
  width: 40%;
  height: 75%;
}

.username {
  margin-top: 5%;
}

.UserInfo {
  margin-top: 2%;
  font-size: 20pt;
  color: white;
}

.select-css {
  color: white;
  font-family: Assistant;
}

.bgimg-doggo {
  background-image: url('./media/doggo.jpg');
  background-position: center;

}

.commentList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loggedInUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 2%;
}

p.commentAuthor {
  padding-top: 2%;
  align-self: center;
  justify-self: center;
}

span.deleteCommentButton {
  padding-right: 2%;
}

@media screen and (max-width: 850px) {
  h1 {
    left: 10%;
  }

  .homepageWrap {
    width: 60%;
  }

  .bgimg-1 {
    background-image: url('./media/parallax1small.png');
  }

  .caption1 {
    font-family: Assistant;
    width: 25%;
  }

  li.articleCard {
  width: 44%;
  margin: 2%;
}

.caption2 {
  width: 80%;
  }

  .caption3 {
    top: 5%;
    height: 60%;
  }
}

@media screen and (max-width: 700px) {

  .homepageWrap {
    width: 70%;
  }

  .caption1 {
    width: 35%;
  }

  .caption3 {
    width: 60%;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    left: 15%;
  }

  .homepageWrap {
    width: 90%;
  }

  .caption1 {
    width: 40%;
  }

  .listOfTopics {
  flex-direction: column;
  }

  li.topics {
    padding: 2%;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 22pt;
    left: 20%;
  }

  .caption1 {
    width: 60%;
  }

    li.articleCard {
  width: 90%;
  margin: 2%;
}

.caption3 {
    width: 70%;
  }

.allTopicsWrapper {
  padding-top: 5%;
}

h2.articleTitle {
font-size: 90%;
}

p.articleBody {
  font-size: 80%;
}

textarea {
  width: 70%;
}
input {
  width: 15%;
}
}